{% extends 'index.html' %}

{% block content %}

<h3>Search</h3>

<p><a href="?sort=title">Sort by title</a></p><br>

{% for category in categories %}
  <a href="?category={{ category.id }}">
      <span class="btn btn-secondary">{{ category.title }}</span>
  </a>
{% endfor %}

<form action="" method="get">
    <input type="text" name="search" value="{{ request.GET.search }}">
    <input type="submit" value="Search">
</form>

<h3> Десерты</h3>
{% for dessert in posts %}
<div class="card" style="width: 18rem;">
    <img src="/media/{{ dessert.photo }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h4 class="card-title"> {{ dessert.title }} {{ dessert.rate }}</h4>
        <a href="/post/{{ dessert.id }}/" class="btn btn-primary">Перейти</a>
    </div>
</div>
{% endfor %}

<div style="margin-top: auto;">
    {% for page in max_pages %}
        <a href="?page={{ page }}" method="GET"><h3><i>{{ page }}</i></h3></a>
    {% endfor %}
</div>

{% endblock %}

