{% extends 'index.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
        <img src="{{ user.profile.avatar.url }}" width="150">
        <h3>{{ user.username }}</h3>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name}}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.profile.bio }}</p>
        <p>{{ user.data_joined }}</p>


        <a href="/profile/update_profile/" method="post">Update Profile</a><br>
        <a class="submit" href="/logout/">Logout</a><br><br>
        </div>
    </div>
</div>

{% for post in user.posts_d.all %}
<div class="card" style="width: 18rem;">
    <img src="/media/{{ post.photo }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }} {{ post.rate }}</h5>
        {% for c in posts.category.all %}
          <span class="btn btn-secondary">{{ c.title }}</span>
        {% endfor %}
        <a href="/post2/{{ post.id }}/" class="btn btn-primary">Перейти</a>
    </div>
</div>
{% endfor %}




{% endblock %}