{% extends 'index.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
        <img src="{{ user.profile.avatar.url }}" width="150">
        <h3>{{ user.username }}</h3>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name}}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.profile.bio }}</p>
        <p>{{ user.data_joined }}</p>


        <a class="submit" href="/logout/">Logout</a>
        </div>
    </div>
</div>
{% endblock %}